In [6]:
print("hello, world")

hello, world

In [7]:
print("hello ,world!")

hello ,world!

In [ ]:
# Importing the numpy library
!pip install numpy
import numpy as np

# -----------------------------------------
# Random Data Generation
# -----------------------------------------
# Create an array of random integers between 0 and 50, with 10 elements
LOW = 0
HIGH = 50
ELEMENTS_COUNT = 10
random_data = np.random.randint(LOW, HIGH, ELEMENTS_COUNT)
own_try = np.ranadom.randint(10,100,)
print("Random Data:", random_data)

# Create a random array of shape (3, 3) with values between 0 and 1
random_array = np.random.random((3, 3))
print("Random Array (3x3):\n", random_array)

# Set a seed to make random numbers reproducible
np.random.seed(42)
seeded_random = np.random.randint(0, 100, 5)
print("Seeded Random Data:", seeded_random)

In [1]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\acer\onedrive\desktop\python\myenv\lib\site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\onedrive\desktop\python\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\acer\onedrive\desktop\python\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

# Create a DataFrame
data = {
    "Name": ["Ramesh", "Prakash", "Roshni"],
    "Age": [10, 20, 30],
    "Salary": [100, 150, None]
}
df = pd.DataFrame(data)

# Fill missing values in 'Salary' with the mean
df['Salary'].fillna(df['Salary'].mean(), inplace=True)

# Add a column to check voting eligibility
df['canVote'] = df['Age'] >= 18

# Add a 'temporary' column as the product of 'Age' and 'Salary'
df['temporary'] = df['Age'] * df['Salary']

# Display the DataFrame
df

C:\Users\acer\AppData\Local\Temp\ipykernel_75200\365250355.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(), inplace=True)

      Name  Age  Salary  canVote  temporary
0   Ramesh   10   100.0    False     1000.0
1  Prakash   20   150.0     True     3000.0
2   Roshni   30   125.0     True     3750.0

In [4]:
import pandas as pd
data = {
    "Name":["Ramesh", "Prakash", "Roshni"],
    "Age": [10, 20, 30],
    "Salary": [100, 150, None]
}

df = pd.DataFrame(data)
# df['Salary'].mean()
# df['Salary'].std()
df['Salary'].max()
# df.isnull()
# df['Salary'].fillna(df['Salary'].mean(), inplace=True)
# df
# average = df['Salary'].mean()
# df['Salary'].fillna(average, inplace=True)
# df
# df['Salary'].fillna(df['Salary'].mode()[0], inplace=True)
df['Salary'].fillna(df['Salary'].mean(), inplace=True)
df

df['canVote'] = df['Age'] >= 18
# df


# Employee Salary

# Name Age Salary

df['temporary'] = df['Age']* df['Salary']
df

C:\Users\acer\AppData\Local\Temp\ipykernel_75200\820352922.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(), inplace=True)